<h3>Grant User Site Manager Privilege</h3>
<form #adminForm="ngForm" (ngSubmit)="makeAdmin()" novalidate>
    
    <div class="form-group">
        <label for="title">Email </label>
        <input name="title" type="email" maxlength="100" class="form-control" [(ngModel)]="keyword.word">
    </div>
    <button class="btn btn-primary">Update</button>
</form>

<h3>Create Record</h3>
<form #recordForm="ngForm" (ngSubmit)="createRecord()" novalidate>
    
    <div class="form-group">
        <label for="song">Song Name </label>
        <input name="song" type="text" maxlength="30" class="form-control" [(ngModel)]="recordModel.song">
    </div>
    <div>
        <label for="type">Record Type </label>
        <select name="type" type ="text" class="form-control" [(ngModel)]="recordModel.type">
                <option value="Takedown Request">Takedown Request</option>
                <option value="Infringement Notice">Infringement Notice</option>
                <option value="Dispute Claim">Dispute Claim</option>
        </select>
    </div>
    <div class="form-group">
            <label for="info">Notice/Request/Dispute </label>
            <input name="info" type="text" class="form-control" [(ngModel)]="recordModel.info">
        </div>
    <button class="btn btn-primary">Save</button>
</form>

<h3>Set Song Hidden Flag</h3>
<form #songHiddenForm="ngForm" (ngSubmit)="setHidden()" novalidate>
    
    <div class="form-group">
        <label for="title">Song Title </label>
        <input name="title" type="text" maxlength="30" class="form-control" [(ngModel)]="songModel.title">
    </div>
    <div class="form-group">
        <label for="artist">Artist </label>
        <input name="artist" type ="text" maxlength="30" class="form-control" [(ngModel)]="songModel.artist">
    </div>
    <div>
        <label for="hidden">Hidden </label>
        <select name="hidden" type ="text" class="form-control" [(ngModel)]="songModel.hidden">
                <option value="true">Yes</option>
                <option value="false">No</option>
        </select>
    </div>
    <button class="btn btn-primary">Update</button>
</form>

<h3>Activate or Deactivate User Account</h3>
<form #setActivityForm="ngForm" (ngSubmit)="setActivity()" novalidate>
    
    <div class="form-group">
        <label for="email">Email </label>
        <input name="email" type="email" maxlength="100" class="form-control" [(ngModel)]="userModel.email">
    </div>
    <div>
        <label for="deactivated">Active? </label>
        <select name="deactivated" type ="text" class="form-control" [(ngModel)]="userModel.deactivated">
                <option value="false">Yes</option>
                <option value="true">No</option>
        </select>
    </div>
    <button class="btn btn-primary">Update</button>
</form>

<h3>New Privacy Policy</h3>
<form #newPPolicyForm="ngForm" (ngSubmit)="newPPolicy()">

    <div class="form-group">
        <label for="name">Policy ID </label>
        <input name="name" type="text" maxlength="100" class="form-control" [(ngModel)]="policyPModel.name">
    </div>
    <div class="form-group">
            <label for="policy">Policy </label>
            <input name="policy" type="text" class="form-control" [(ngModel)]="policyPModel.policy">
    </div>
    <button class="btn btn-primary">Save</button>
</form>

<h3>Update Privacy Policy</h3>
<form #updatePPolicyForm="ngForm" (ngSubmit)="updatePPolicy()">

    <div class="form-group">
        <label for="name">Policy ID </label>
        <input name="name" type="text" maxlength="100" class="form-control" [(ngModel)]="policyPUpdateModel.name">
    </div>
    <div class="form-group">
            <label for="policy">Policy </label>
            <input name="policy" type="text" class="form-control" [(ngModel)]="policyPUpdateModel.policy">
    </div>
    <button class="btn btn-primary">Update</button>
</form>

<h3>New DMCA Policy</h3>
<form #newPolicyForm="ngForm" (ngSubmit)="newPolicy()">

    <div class="form-group">
        <label for="name">Policy ID </label>
        <input name="name" type="text" maxlength="100" class="form-control" [(ngModel)]="policyModel.name">
    </div>
    <div class="form-group">
            <label for="policy">Policy </label>
            <input name="policy" type="text" class="form-control" [(ngModel)]="policyModel.policy">
    </div>
    <button class="btn btn-primary">Save</button>
</form>

<h3>Update DMCA Policy</h3>
<form #updatePolicyForm="ngForm" (ngSubmit)="updatePolicy()">

    <div class="form-group">
        <label for="name">Policy ID </label>
        <input name="name" type="text" maxlength="100" class="form-control" [(ngModel)]="policyUpdateModel.name">
    </div>
    <div class="form-group">
            <label for="policy">Policy </label>
            <input name="policy" type="text" class="form-control" [(ngModel)]="policyUpdateModel.policy">
    </div>
    <button class="btn btn-primary">Update</button>
</form>

