
<form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    
    <div class="form-group">
        <label for="name">Name </label>
        <input name="name" type="text" maxlength="100" class="form-control" [(ngModel)]="productModel.name">
    </div>
    <div class="form-group">
        <label for="type">Type </label>
        <select name="type" type ="text" class="form-control" [(ngModel)]="productModel.type">
                <option value="book">Book</option>
                <option value="CD">CD</option>
        </select>
    </div>
    <div class="form-group">
        <label for="loanPeroid">Loan Peroid </label>
        <input  name="loanPeroid" type="number" min="1" step="1" class="form-control" [(ngModel)]="productModel.loanPeroid">
    </div>
    <button class="btn btn-primary">Save</button>
</form>

