<h1>Privacy Policy</h1>

<p>This privacy notice discloses the privacy practices for this website. This privacy notice applies solely to information collected by this website. It will notify you of the following:

        What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.
        What choices are available to you regarding the use of your data.
        The security procedures in place to protect the misuse of your information.
        How you can correct any inaccuracies in the information.
</p>

<p *ngIf=policy>{{policy[0].policy}}</p>
