<h1>About</h1>

<ul *ngIf="availableItems">
    <li *ngFor="let item of availableItems">
        <p class="name">Name: {{item.name}}</p>
        <p class="type">Type: {{item.type}}</p>
        <p class="loanPeroid">Loan Peroid: {{item.loanPeroid}}</p>
        <p class="quantity">Quantity: {{item.quantity}}</p>
    </li>
</ul>
<p>
    This is a music site where you can post and review songs.
</p>

<h2>Most Reviewed Songs</h2>
<ul *ngIf="topSongs">
        <li *ngFor="let song of topSongs">
            <p class="title">Title: {{song.title}}</p>
            <p class="artist">Artist: {{song.artist}}</p>
            <p class="numRatings">Number of Reviews: {{song.numRatings}}</p>
        </li>
</ul>
<br>
<br>
<form #searchForm="ngForm" (ngSubmit)="search()" novalidate>

    <div class="form-group">
        <label for="search">Keyword </label>
        <input name="song" type="text" maxlength="100" class="form-control" [(ngModel)]=keywordModel.word>
    </div>
    <button class="btn btn-primary">Search</button>
</form>


<ul *ngIf="results">
        <h2>Results</h2>
        <li *ngFor="let song of results">
            <p class="title">Title: {{song.title}}</p>
            <p class="artist">Artist: {{song.artist}}</p>
            <p class="numRatings">Number of Reviews: {{song.numRatings}}</p>
        </li>
</ul>

