<header>
    <div class="container">
      <a routerLink="/" class="logo">Music Shareing</a>
      <a *ngIf='adminBanner' routerLink="/admin" class="logo"> (Site Manager)</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li><a href="#" routerLink="/login">Login</a></li>
          <li><a href="#" routerLink="/privacy">Privacy Policy</a></li>
          <li *ngIf='adminBanner!=undefined'><a href="#" routerLink="/user">User</a></li>
          <li *ngIf=adminBanner><a href="#" routerLink="/admin">Admin</a></li>
          <li><a href="#" routerLink="/dmca">DMCA Policy</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>